body {
  background-repeat: no-repeat;
  padding: 10px;
  margin: 0px;
  text-align: justify;
  background-image: url(big-graph.png);
  background-position: top center;
}
p:first-letter {
  margin-left: 15px;
}

h1 {
  
  text-align: center;
}

h2,
h3 {
  font-style: italic;
}


#jobbra {
  float: right;
  text-align: center;
  margin: 10px;
  padding: 10px;
  font-style: italic;
  font-size: 0.7em;
  color: #FF0000;
}

.kerdeskep {
  float: left;
  margin-right: 20px;
}

a {
  color: red;
}


#jobbra{
float: right;
text-align: center;
border: 1px solid #FF0000;
background-color:FFFFFF;
margin: 10px;
padding: 10px;
font-style: italic;
font-size: 0.7em;
color: #FF0000;
}
#jobbra img{
width: 400px;
}